h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gelasio", serif;
}

.body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.header {
  padding: 35px 0 235px 0;
  position: relative;
  color: white;
}

.header__container {
}

.container {
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 200px 0;
}

.logo_place_header {
  margin-right: 100px;
}

.logo {
  font-family: "Ribeye", cursive;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.header__links {
  display: flex;
  list-style-type: none;
}

.header__link {
  margin: 0 50px 0 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: white;
  text-decoration: none;
}

.button_place_menu {
  padding: 13px 35px;
}

.button {
  color: white;
  font-size: 16px;
  line-height: 24px;
  background: #c9453b;
  border-radius: 5px;
  border-color: #c9453b;
  text-decoration: none;
  display: inline-block;
}

.header__content {
  /* display: block;
  flex-direction: column;
  flex: 1 1 auto; */
}

.header__title {
  max-width: 800px;
  font-size: 65px;
  font-weight: 700;
  line-height: 78px;
  margin: 0 0 30px 0;
}

.header__text {
  max-width: 450px;
  font-size: 18px;
  line-height: 29px;
  margin: 0 0 40px 0;
  opacity: 0.6;
}

.button_place_content {
  padding: 17px 45px;
}

.header__main-illustration {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url(../image/main-block/main-img.jpg);
  background-color: rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90%;
}

/* ----------------------------------------Popular Location--------------------------------------------------------------------- */

.main {
  padding-top: 140px;
}

.popular-location {
}

.popular-location__container {
}

.popular-location__description {
  max-width: 735px;
}

.description {
  margin: 0 auto;
  text-align: center;
}

.description__title {
  margin: 0;
  font-size: 43px;
  font-weight: 500;
  line-height: 60px;
}

.description__text {
  margin: 0;
  font-size: 18px;
  line-height: 29px;
  opacity: 0.6;
}

.description__title_place_popular-location {
  margin: 0 0 20px 0;
}

.description__text_place_popular-location {
  margin: 0 0 50px 0;
}

.popular-location__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.popular-location__card {
  max-width: 360px;
  list-style-type: none;
  text-align: center;
}

.popular-location__image_place_card {
  margin: 0 0 35px 0;
}

.popular-location__title_place_card {
  margin: 0 0 10px 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}

.popular-location__text_place_card {
  margin: 0 auto;
  max-width: 295px;
  font-size: 18px;
  line-height: 29px;
  opacity: 0.6;
}

/* ----------------------------------Special Offers-------------------------------------------------------------------- */

.offers {
  padding: 140px 0 0 0;
}

.offers__container {
  max-width: none;
}

.offers__description {
}

.description__title_place_offers {
  margin: 0 0 20px 0;
}

.description__text_place_offers {
  max-width: 650px;
  margin: 0 0 60px 0;
}

.offers__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 0 50px 0;
  list-style-type: none;
}

.offers__card {
}

.offers__image_place_card {
  margin: 0 0 20px 0;
}

.offers__title_place_card {
  margin: 0 0 8px 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
}

.offers__description_place_card {
  color: rgba(0, 0, 0, 0.6);
}

.offers__location-rating {
  display: flex;
  margin: 0 0 8px 0;
  align-items: center;
}

.offers__pointer {
  margin: 0 10px 0 0;
}

.offers__location {
  margin: 0 50px 0 0;
  font-size: 20px;
  line-height: 150%;
}

.offers__star {
  margin: 0 10px 0 0;
}

.offers__rating {
  margin: 0;
  font-size: 18px;
  line-height: 150%;
  color: rgba(0, 0, 0, 1);
}

.offers__time {
  margin: 0 0 8px 0;
  font-size: 16px;
  line-height: 24px;
}

.offers__price {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}

.offers__price-span {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: rgba(0, 0, 0, 1);
}

.offers__switcher {
  display: flex;
  margin: 0 auto;
}

.switcher__arrow_direction_left {
}

.switcher__stripe {
  margin: 0 50px 0 50px;
}

.switcher__stripe_position_not-active {
}

.switcher__stripe_position_active {
}

.switcher__arrow_direction_right {
}

/* ----------------------------------------------From Blog & News----------------------------------------------- */

.news {
  padding: 140px 0;
}

.news__container {
}

.news__description {
  max-width: 580px;
}

.description__title_place_news {
  margin: 0 0 20px 0;
}

.description__text_place_news {
  margin: 0 0 55px 0;
}

.news__cards_position_left {
  list-style-type: none;
  display: flex;
  gap: 32px;
  padding: 0;
}

.news__cards_position_right {
  list-style-type: none;
  padding: 0;
}

.news__card_position_left {
}

.news__card_position_right {
  display: flex;
}

.news__image_position_left {
  margin: 0 0 35px 0;
}

.news__image_position_right {
  margin: 0 30px 30px 0;
}
.news__card_position_right:last-child img {
  margin-bottom: 0;
}

.news__title_position_left {
  margin: 0 0 10px 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}

.news__title_position_right {
  margin: 0 0 10px 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.news__text_position_left {
  max-width: 470px;
  margin: 0 0 10px 0;
  font-size: 18px;
  line-height: 29px;
  color: rgba(0, 0, 0, 0.6);
}

.news__text_position_right {
  margin: 0 0 10px 0;
  font-size: 18px;
  line-height: 29px;
  color: rgba(0, 0, 0, 0.6);
}

.news__author_position_left {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-decoration: none;
}

.news__author_position_right {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}

/* ------------------------------------------------------footer--------------------------------------------------- */
.footer {
  padding: 70px 0 78px 0;
}

.footer__container {
  flex-direction: row;
  justify-content: space-between;
}

.footer__contacts {
  /* margin: 0 0 20px 0; */
}

.logo_place_footer {
  margin: 0 0 40px 0;
}

.footer__contact {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.06em;
}

.footer__text {
  margin: 0 0 10px 0;
}

.footer__adress {
  display: inline-block;
  margin: 0 0 20px 0;
  text-decoration: none;
}

.footer__social {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__social-icon {
  margin: 0 25px 0 0;
}

.footer__information {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.06em;
}

.footer__link_place_information {
  display: inline-block;
  margin: 0 0 20px 0;
  text-decoration: none;
}
.footer__information li:last-child a {
  margin: 0;
}

.footer__rules {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.06em;
}

.footer__rule {
  display: inline-block;
  margin: 0 0 20px 0;
  text-decoration: none;
}
.footer__rules li:last-child a:last-child {
  margin: 0;
}

.footer__form-subscribe {
}

.footer__subscribe {
  margin: 0 0 40px 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.06em;
}

.footer__form {
}

.footer__input {
  margin: 0 35px 0 0;
  padding: 10px 0 10px 20px;
}
.footer__input::placeholder {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.06em;
}

.footer__button {
  margin: 0 25px 0 0;
  padding: 10px 30px;
}
