h1, h2, h3, h4, h5, h6 {
  font-family: 'Gelasio', serif;
}
.body {
  font-family: 'Roboto', sans-serif;
}
.wrapper {
}
.header {
}
.header__container {
}
.container {
}
.header__menu {
}
.logo_place_header {
}
.logo {
  font-family: 'Ribeye', cursive;
}
.header__links {
}
.header__link {
}
.button_place_menu {
}
.button {
}
.header__content {
}
.header__title {
}
.header__text {
}
.button_place_content {
}
.header__main-illustration {
}
.main {
}
.footer {
}